:root {
  font-family: Poppins;

  color-scheme: light dark;
  background-color: #242424;
  color: #505050;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  width: 40%;
  color: #505050;
}
